{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Reset your password</h4>


        {% if error %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ error }}
            <div id="div_id_email" class="form-group"><label for="id_email" class=" requiredField">
                Адрес электронной почты<span class="asteriskField">*</span> </label>
                <div><input type="email" name="email" autocomplete="email" maxlength="254"
                            class="emailinput form-control" required="" id="id_email"></div>
            </div>


            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </form>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}